{% extends "base.html" %}
{% block content %}

<div class="container">
    <!--header-->
    <div class="row s12 m6 l4 text-center custom-all-plants-header">
        <h1>All Plants</h1>
        <p>Here you can browse our databse and read about some plants.</p>
    </div>    
    <!--search form allows browse the database by name or description-->
    <div class="row s12 m6 l4 text-center search-box">
        <form action="{{ url_for('search_plant') }}" method="POST">
            <div class="input-field inline">
                <input id="search_option" name="search_option" type="text"
                class="validate" required>
                <span class="helper-text text-color" >
                Enter your searching criteria.</span>
                <button class="btn waves-effect waves-light teal darken-4 "
                type="submit" >Search <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>

<!--here are displayed all search results for the entered critria by user-->
    <div class="row-card s12 m7 ">
        {% for plant in plants %}
            <div class="col s12 m7 text-center">
                <a href="{{ url_for ('display_plant', plant_id=plant._id) }}">
                    <div class="card horizontal card-panel hoverable">
                        <div class="card-image bg-image">
                            {% if plant.plant_img %}
                                <img src="{{plant.plant_img}}"
                                alt="{{plant.plant_name}}">
                            {% else %}
                                <img src="{{url_for(
                                    'static', filename='img/logo.png')}}"
                                    alt="logo image">
                            {% endif %}
                        </div>
                        <div class="card-stacked">
                            <div class="card-content text-center">
                                <span class="card-title green-text">
                                <strong class="green-text-name">
                                {{plant.plant_name}}</strong></span>
                                <span class="green-text"><!--span--> 
                                Category: {{plant.plant_category}}</span><br>
                                <span class="green-text"><strong>
                                Description</strong></span>
                                <p>{{plant.plant_description}}</p>
                                <button class="btn waves-effect teal 
                                waves-light darken-4 card-button"
                                type="submit">
                                Read More <i class="fas fa-book-open"></i>
                                </button>
                            </div>
                        </div>
                    </div>   
                </a>
            </div>
        {% endfor %}
    </div>
</div> 

{% endblock %}
