<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backyard Plants</title>
</head>
<body>
    <h1>plants </h1>
    {% for plant in plants %}<br>
        {{ plant.plant_category }}<br>
        {{ plant.plant_name }}<br>
        {{ plant.plant_description }}<br>
        {{ plant.plant_place }}<br>
        {{ plant.plant_flower_time }}<br>
        {{ plant.plant_tips }}<br>
        {{ plant.plant_notes }}<br>
        {{ plant.plant_img }}<br>
    {% endfor %}
</body>
</html>