{% extends "base.html" %}
{% block content %}

<!--search form allows browse the database by name, description -->
<div class="row s12 m6 l6 text-center search-box">
    <form action="{{ url_for('search_plant') }}" method="post">
        <div class="input-field inline">
            <input id="search_option" name="search_option" type="text" class="validate" required>
            <span class="helper-text text-color" >Enter your searching criteria.</span>
            <button class="btn waves-effect waves-light teal darken-4 " type="submit" >Search <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
</div>
<!-- display search plant for selected category -->
    {% if plants.count() >0 %}
        <div class="container ">
            <div class="row s12 m6">
            {% for plant in plants %}
                <div class="card  mb-2">
                    <div class="row">
                        <div class="col m3">
                        <a href="{{ url_for ('display_plant', plant_id=plant._id) }}">
                            <div class="card-image bg-image">
                                {% if plant.plant_img %}
                                    <img src="{{ plant.plant_img }}" alt="{{ plant.plant_name }}">
                                {% else %}
                                    <img src="{{ url_for('static', filename='img/logo.png')}}" alt="logo image">
                                {% endif %}
                            </div>
                        <!--/div>
                    </div-->
                        <div class="col m9">
                            <div class="card-content text-center">
                                <span class="card-title"><strong>{{ plant.plant_name }}</strong></span>
                                <span class="green-text"><span> Category: {{ plant.plant_category }}</span><br>
                                <span class="green-text"><strong>Description</strong></span>
                                <p>{{ plant.plant_description }}</p>
                                <a href="{{ url_for ('display_plant', plant_id=plant._id )}}"><button class="btn waves-effect waves-light teal darken-4 " type="submit" >Read More <i class="fas fa-book-open"></i></a>
                            </div>
                        </div>
                        </a>
                    </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
        <h3>No results found.</h3>
    {% endif %}

{% endblock %}